@model CartOrder






<h1>View Model Dummy Page</h1>

<h3> Receiving CartOrder Object. Details are following: </h3>


<h4>Customer Order Details: </h4>
<br />
<b>Order Expiration: </b>  @Model.Order.expiration <br />
<b>Order Card Number: </b>  @Model.Order.cardNumber <br />
<b>Order Address: </b>  @Model.Order.adress



<br />
<br />
<br />



<h4>Cart Details: </h4>
<br />
<b>Product Id: </b>  @Model.Cart.Id
<br />
<b>Product Quantity: </b>  @Model.Cart.Quantity
<br />










